# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Google Cloud Configuration
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# Google Drive file id
GOOGLE_DRIVE_FILE_ID=your_drive_file_id